/*
* Protobone Framework | v1.0.0 | MIT | July 4th, 2017
* Copyright 2017, Selwyn Orren @ Linuxweb
* Adapted from Skeleton Grid by Dave Gamache
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 04/07/2017
*/
@import url(//fonts.googleapis.com/css?family=Raleway:400,300,600);
@import url(//use.fontawesome.com/releases/v5.9.0/css/all.css);
@import url(//d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?c2sn1i);

.socicon {
		overflow:hidden;
		margin:0; padding:0;
		list-style:none;
}

.socicon li {
		display:inline-block;
		*display:inline;
		zoom:1;
}

.socicon li a {
		font-family:si!important;
		font-style:normal;
		font-weight:400;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing:grayscale;
		-webkit-box-sizing:border-box;
		-ms-box-sizing:border-box;
		-o-box-sizing:border-box;
		box-sizing:border-box;

		-o-transition:.1s;
		-webkit-transition:.1s;
		transition:.1s;
		-webkit-transition-property: transform;
		-webkit-transition-property: -webkit-transform;
		transition-property: -webkit-transform;
		-o-transition-property: transform;
		transition-property: transform;
		transition-property: transform, -webkit-transform;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);

		overflow:hidden;
		text-decoration:none;
		text-align:center;
		display:block;
		position: relative;
		z-index: 1;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 22px;
		border-radius: 100px;
		margin-right: 6px;
		color: #B6B6B6;
		background-color: #222;
}
